@{
    ViewData["Title"] = "Home Page";
}


<div class="hero-banner">
    <img src="OG2ODA0.jpg" width ="100%" height="500"/>
</div>

<div class="text-center">
    <h1 class="display-4">Why choose us</h1>
    <p> Here we have a few strong reasons for choosing us!</p>
</div>
